.clearfix:after{clear:both;display:block;content:"...";visibility:hidden;height:0;font-size:0;}
.clearfix{*zoom:1;}

.jx-wrap input{ height:40px; line-height:40px; color:#999; border:1px solid #dcdcdc; font-size:16px;}
.jx-wrap input.on{ height:40px; line-height:40px; color:#999; border:1px solid #ff6666; font-size:16px;}
.jx-wrap i{ background:url(../images/regLogin-8.png) no-repeat 0 0;}
.jx-wrap{ width:100%; background:#fafafa; min-width:1000px;}
.jx-top-header{ width:100%; background:#fff; height:88px; box-shadow:1px 2px 6px #e1e1e1; z-index:1; position:relative;}
.jx-top-head{ width:1000px; height:88px; margin:0 auto;}
.jx-logo{ float: left; height: 63px; margin-top:15px; width:257px;}
.jx-logo p{ float:left;}
.jx-logo .jx-index{ width:140px;}
.jx-logo .jx-topic{ width:117px; float:right;}
.jx-logo .jx-index a{ width:140px;}
.jx-logo .jx-topic a{ width:117px;}
.jx-logo p a{ display:block; height:63px;}
.jx-reg{ float:right; color:#999; margin-top:48px; height:14px; line-height:14px;}
.jx-reg a,.jx-reg a:hover{ color:#0066cc; margin-left:20px;}
.jx-head-nav{ width:77px; height:14px; line-height:14px; float:right; display:inline; margin:48px 0 0 20px; position:relative; cursor:pointer; z-index:10;}
.jx-head-icon{ height:14px; position:relative; z-index:2;}
.jx-head-nav .jx-xin{ float:left; background-position:0 0; width:12px; height:12px; display:inline-block; margin:1px 8px 0 0;}
.jx-head-nav span{ float:left; display:inline-block; color:#666; margin-right:6px;}
.jx-head-nav .jx-jt{ float:left; display:inline-block; background-position:-23px 0; width:15px; height:14px;}
.jx-head-pop{ display:none; position:absolute; border:1px solid #ccc; top:-6px; left:-10px; width:85px; z-index:1; padding-top:26px;}
.jx-head-pop li{ border-top:1px dotted #ccc; padding-left:10px; height:24px; line-height:24px; background:#fff;}
.jx-head-pop li a{ color:#999;}
.jx-main-bg{ width:100%; padding:0 0 50px;height:600px;}
.jx-main{ width:1000px; margin:0 auto;}
.jx-content{background:#fff;border: 3px solid #eaeaea;border-radius: 5px;box-shadow: 1px 6px 11px #e4e4e4;height: 500px; position:relative;}
.jx-content.loginbd{background:transparent;border:0;box-shadow:0 0 0 0;}
.jx-contentbd{background-color:#fff;overflow:hidden;position:relative;width:350px;height:405px;top:100px;left:650px;}
.jx-ewmLoginLink{display:block;width:65px;height:65px;position:absolute;top:0;right:0;z-index:9999;cursor:pointer;}
.jx-ewmLoginLink i{background-position:0 -230px;width:65px;height:65px;display:block;}
.jx-pcLoginLink{display:block;width:65px;height:65px;position:absolute;top:0;right:0;z-index:9999;cursor:pointer;display:none;}
.jx-pcLoginLink i{background-position:-80px -230px;width:65px;height:65px;display:block;}
.addbind_01{ border:3px solid #eaeaea; background:#fff; height:580px; border-radius:5px; box-shadow:1px 6px 11px #e4e4e4;}

.jx-footer{ width:100%; padding:10px 0 0;}
.jx-foot{ width:1000px; margin:0 auto; text-align:center;}
.jx-foot p{ line-height:30px; color:#333;}
.jx-foot .red{ color:#ff0000;}
/*忘记密码*/
.process{ background:url(../images/progress.jpg) no-repeat; width:798px; height:36px; margin-top:30px; position:relative;}
.jx-forgot-box{ padding:0 98px; height:420px; padding-top:30px;}
.jx-forgot-box .title{ font-size:24px; font-family:"微软雅黑"; color:#999; line-height:24px; height:24px;}
.process-1{ background-position:0 0;}
.process-2{ background-position:0 -42px;}
.process-3{ background-position:0 -86px;}
.process-4{ background-position:0 -130px;}
.process li{ position:absolute; color:#999; line-height:20px; top:40px;}
.process .n1{ left:30px;}
.process .n2{ left:262px;}
.process .n3{ left:488px;}
.process .n4{ left:725px;}
.process .on{ color:#cc0000;}
.jx-form-list{ padding:60px 0 0 110px; height:218px; overflow:hidden;}
.jx-form-list .item{ height:42px; padding-bottom:15px;}
.jx-form-list .mt5{ margin-top:5px;}
.jx-form-list .item span{ float:left; display:inline-block; line-height:42px; font-size:16px; width:128px; padding-right:10px; color:#666; text-align:right;}
.jx-form-list .item .item-wrap{ height:42px; float:left; width:302px; position:relative;}
.jx-form-list .item .item-wrap .acc{ background-position:-51px 0; width:20px; height:20px; display:inline-block; position:absolute; left:14px; top:10px; z-index:1;}
.jx-form-list .item .item-wrap .cap{ background-position:-426px 0; width:18px; height:24px; display:inline-block; position:absolute; left:14px; top:10px; z-index:1;}
.jx-form-list .item .item-wrap .lock{ background-position:-83px 0; width:16px; height:22px; display:inline-block; position:absolute; left:14px; top:10px; z-index:1;}
.jx-form-list .item .item-wrap .corr{ display: none; background-position:-139px 0; width:14px; height:14px; position:absolute; right:20px; top:15px; z-index:1;}
.jx-form-list .item .item-wrap .error{ display: none; background-position:-162px 0; width:14px; height:15px;  position:absolute; right:20px; top:15px; z-index:1;}
.jx-form-list .item .item-wrap .tel{ background-position:-265px 0; width:15px; height:24px; display:inline-block; position:absolute; left:14px; top:10px; z-index:1;}
.jx-form-list .item .item-wrap .jx-correct{ display: none; height:20px; line-height:20px; padding:0 10px; background:#ed787f; color:#fff; font-size:12px; position:absolute; right:0; bottom:-15px; z-index:3;}
.jx-form-list .item .item-wrap .jx-click{ height:20px; line-height:20px; padding:0 10px; background:#ccc; color:#fff; font-size:12px; position:absolute; right:0; bottom:-15px; z-index:3;}
.jx-form-list .item .item-wrap .jx-iput-1{ width:210px; position:relative; z-index:2; background:none; padding:0 45px; font-weight:700;}
.jx-form-list .item .item-wrap .jx-iput-4{ width:120px; position:relative; z-index:2; background:none; padding:0 135px 0 45px; font-weight:700;}
.jx-form-list .item .jx-iput-3{ width:302px; height:42px; background:#e10303; color:#fff; border:none; cursor:pointer; float:left; font-family:"微软雅黑"; border-radius: 2px;}
.jx-form-list .item .item-wrap em{ position:absolute; display:inline-block; line-height:42px; top:0; left:45px; color:#ccc; font-style:normal; font-size:16px;}
.jx-form-list .item .item-wrap .next{ background-position:-188px 0; width:28px; height:24px; position:absolute; right:10px; top:10px; cursor:pointer; z-index:3;}
.jx-form-list .item .item-wrap .jx-yzm{ position:absolute; display:inline-block; left:170px; top:4px; z-index:3; cursor:pointer;}
.strength{ float:left; padding:10px 0 0 10px; height:32px; width:100px; display:none;}
.strength b{ float:left; display: inline-block; font-family:"微软雅黑"; font-size:12px; color:#666; font-weight:normal; margin-top:8px;}
.strength i{ float:left; display:inline-table; margin:0 5px; width:44px; height:22px; overflow:hidden;}
.strength .strength1{ background-position:-222px -99px;}
.strength .strength2{ background-position:-269px -100px;}
.strength .strength3{ background-position:-316px -100px;}
.jx-verify{ width:523px; margin:90px auto 0 auto;}
.jx-verify p{ font-size:14px; color:#999; line-height:26px;}
.jx-verify .alarm{ background-position:-76px -147px; width:59px; height:59px; display:block; margin:34px auto 0 auto;}
.jx-verify .done{ background-position:0 -147px; width:59px; height:59px; display:block; margin:30px auto 0 auto;}
.jx-verify h3{ font-family:"微软雅黑"; font-size:18px; color:#339900; height:20px; line-height:20px; text-align:center; font-weight:normal;}
.jx-back-home{ font-family:"微软雅黑"; font-size:18px; text-align:center; background:#e10303;  border-radius:2px; width:227px; height:42px; line-height:42px; display:block; margin:38px auto 0 auto;}
.jx-back-home,.jx-back-home:hover{ text-decoration:none; color:#fff;}
.item-wrap select{ border:1px solid #dcdcdc; font-size:16px; color:#999; padding:9px 5px; display:inline-block; vertical-align:middle; position:relative; _top:5px; *top:8px; float:left; width:302px;}
.item-wrap .jx-by-phone{ line-height:42px; font-weight:bold; font-size:16px; color:#666; padding-left:15px; position:absolute; top:0; left:0;}
.jx-form-list .item .item-wrap .checkButBox{ left:171px;}
.jx-form-list .item .item-wrap .checkButBox span{ padding:0; text-align:center;}
.jx-explan{ color:#999; line-height:24px; text-align:center; margin-top:10px;}

/*邮箱注册成功页面*/
.emailSuccess{ width:100%; padding-top:85px;}
.emailSuccess .successIcon{ height:60px; width:60px; background:url(../images/regLogin-8.png) no-repeat 0 -146px;  margin-top:85px; margin:0 auto;}
.emailSuccess .emailTitle{ font-size:18px; color:#5aad31; font-family:'宋体'; margin-top:34px; width:100%; text-align:center; height:20px; line-height:20px; font-weight:bold}
.emailSuccess .emailTxt{ padding-top:23px; text-align:center; height:14px; line-height:14px; color:#999}
.emailSuccess .emailBut{ padding-top:45px; text-align:center; }
.emailSuccess .Verific{padding:12px 21px; background:#0066cc; color:#fff; border-radius:3px; margin-right:16px; display:inline-block; font-size:14px;}
.emailSuccess .goShop{padding:12px 40px; background:#e10303; color:#fff; border-radius:3px;display:inline-block; font-size:14px;}
.emailSuccess .Verific:hover,.emailSuccess .goShop:hover{ text-decoration:none;}
.emailSuccess .emailConfirmBox{ padding-left:365px; padding-top:8px; padding-bottom:6px; width:190px; height:14px; line-height:14px;}
.emailSuccess .emailConfirm{ color:#0066cc; cursor:pointer;}
.emailSuccess .emailConfirm:hover{ color:#0066cc; text-decoration:none;}
.emailSuccess .emailPop{ width:263px; height:80px;margin-left:372px; padding-top:9px; padding-left:17px; border:1px solid #ccc; border-radius:5px; position:relative; display:none;}
.emailSuccess .emailPopTxt1,.emailSuccess .emailPopTxt3{ height:12px; padding:4px 0; color:#999;}
.emailSuccess .bgIcon{ position:absolute; left:20px; top:-5px; width:8px; height:8px;background:url(../images/regLogin-8.png) no-repeat -456px 0;}
.emailSuccess .emailPopTxt2{ height:22px; padding:4px 0;}
.emailSuccess .emailPopTxt2 span{ height:22px; color:#999; line-height:22px; display:inline-block;}
.emailSuccess .emailPopTxt2 a{ height:22px; color:#fff;  display:inline-block; background:#ffcc66; padding:0 12px; line-height:22px; margin-left:10px;}
.emailSuccess .emailPopTxt3 span{ height:12px; color:#999; line-height:12px; display:inline-block;}
.emailSuccess .emailPopTxt3 a{ height:12px; color:#999; line-height:12px; display:inline-block; color:#0066cc; margin-left:10px;}
.emailSuccess .emailPopClose{ width:16px; height:16px; position:absolute; right:6px; top:4px;background:url(../images/regLogin-8.png) no-repeat -468px 0; cursor:pointer;}
.emailSuccess .accountConfirm{ height:20px; line-height:20px; width:315px; margin:0 auto; padding-left:30px; position:relative; padding-top:20px; color:#ff0000}
.emailSuccess .accountConfirm i{ width:18px; height:18px; position:absolute; left:0px; top:20px;background:url(../images/regLogin-8.png) no-repeat -482px -16px;}
/*普通登录begin*/
.loginSideAd{float: left;display: inline-block;*display: inline;*zoom: 1;width: 600px;height: 450px;overflow: hidden;}
.loginCon{width:270px;margin-left:40px;}
.loginCon .loginTit{margin:14px 0 19px;height:40px;overflow: hidden;line-height:40px;border-bottom:1px solid #e9e9e9;}
.loginTit a{float:left;display: inline-block;*display: inline;*zoom: 1;color: #999;font-size:16px;}
.loginTit span{float:left;display: inline-block;*display: inline;*zoom: 1;font-size:12px;color:#999;padding:0 18px;}
.loginTit a:hover{color: #0066cc;}
.loginTit a.on{color:#e4393c;font-weight:bold;}
.Frame{width: 270px;height: 42px;position: relative;top: 0;left: 0;margin-bottom:20px;}
.Frame .filter{width: 43px;height: 42px;position: absolute;top: 0;left: 0;z-index: 5;}
.Frame .text{position: absolute;top: 0;left: 0;z-index: 4;background: none;font-weight: 700;}
.enterFrame .text{ width: 173px; padding:0 45px 0 50px;}
.Frame .filter i{float: left;display: inline-block;*display: inline;*zoom: 1;}
.Frame .filter .userIconBox{display: inline-block;width: 43px;height: 40px;background:#f3f3f3;position:absolute; top:1px; left:1px; z-index:3;border-right:1px solid #dcdcdc;}
.Frame .filter .userIcon{width: 20px;height: 20px;background-position: -51px 0;margin:10px 10px 0 11px;}
.Frame .filter p{ display: inline-block;*display: inline;*zoom: 1;font-size: 16px;margin-top: 11px;color: #ccc;position:absolute; left:0; top:0; width:200px; padding-left:55px; z-index:5;}
.Frame .filter .judge{float: none;display: inline-block;*display: inline;*zoom: 1;position:absolute; left:246px; top:15px;}
.Frame .filter .judgeDel{float:left; display:inline-block; width:16px; height:16px; *display:inline; *zoom:1; background-position:-486px -42px; cursor: pointer;position:absolute; top:14px; left:248px; z-index:5; display:none;}

.Frame .filter .pwdIcon{width: 16px;height: 22px;background-position: -83px 0;margin:10px 11px auto 13px;}
.Frame.wrong .filter .judge{width: 15px;height: 15px;background-position: -162px 0;}
.Frame .filter.wrong .judge{width: 15px;height: 15px;background-position: -162px 0;}
.Frame.right .filter .judge{width: 15px;height: 14px;background-position: -139px 0;}
.mistakeTip,.mistakeTip02{padding: 0 10px;height: 20px; color: #fff;line-height: 20px;position: absolute;bottom: -15px;right: 0;z-index: 5;}
.mistakeTip{background: #ed787f;}
.mistakeTip02{ background:#ccc;}
.yzFrame .text{padding-left:50px;width:84px;padding-right: 134px;}
/**
.yzFrame .yzm{float: right;display: inline-block;*display: inline;*zoom: 1;margin-right: 60px;margin-top: 1px;}
*/
.yzFrame .yzm{position: absolute;left:189px;top:1px;}
.yzFrame .refresh i{width:80px;height:40px;z-index: 5;position: absolute;top: 0;right: 0;background-position: 188px 188px;}
.loginCon .loginBtn{margin-bottom: 11px;}
.loginBtn input{width: 270px;background-color: #e10303;color: #fff;border-radius: 2px;border: 0;cursor: pointer;font-family: "Microsoft Yahei";}
.loginCon .moreChoice{margin-bottom: 16px;}

.moreChoice .auto,.moreChoice .forgetPwd{color: #999;display: inline-block;*display: inline;*zoom: 1;}
.moreChoice .freeReg{color: #0066cc;display: inline-block;*display: inline;*zoom: 1;float: right;padding-left:13px;}
.moreChoice .forgetLine{float: right; padding:0 3px; position: relative; top:-2px; color:#999;}
.moreChoice .auto{float: left;}
.moreChoice .forgetPwd{float: right;}
.moreChoice .auto input{height: auto;border: 0;}
.loginType{height: 267px;border-bottom: 1px dotted #ccc;overflow: hidden;}
.cooperate p{margin:22px 15px 0 0;float:left;color: #999;}
.cooperateWay{width: 243px;height: 42px;margin: 0 auto;}
.cooperateWay a i{float: left;display: inline-block;*display: inline;*zoom: 1;width:30px;height: 30px;margin-left:12px;margin-top:16px;}
.cooperateWay .qq i{background-position: 0 -35px;margin-left: 0;}
.cooperateWay .sina i{background-position: -51px -35px;}
.cooperateWay .aliPay i{background-position: -102px -35px;}
.cooperateWay .baidu i{background-position: -153px -35px;}
.cooperateWay .qq:hover i{background-position: 0 -86px;}
.cooperateWay .sina:hover i{background-position: -51px -86px;}
.cooperateWay .aliPay:hover i{background-position: -102px -86px;}
.cooperateWay .baidu:hover i{background-position: -153px -86px;}
.jx-content .picFoucs{display: block; position: absolute; width: 650px; height: 600px; z-index: 1;}
/*普通登录end*/
/*手机登录begin*/
.Frame.getFrame .filter{width: 159px;left: 147px;}
.getFrame .text{width:66px;left: 147px; padding:0 45px 0 46px;}
.getFrame .get{width: 141px;height: 40px;line-height: 40px;float: left;display: inline-block;*display: inline;*zoom: 1;border:1px solid #dcdcdc;text-align: center;font-family: "Microsoft Yahei";background-color: #f7f7f7;font-size: 16px;color: #ccc;}
.getFrame .get:hover{text-decoration: none;color: #ccc;}
.Frame.getFrame .filter .pwdIcon{margin: 10px 17px auto 17px;}
.getFrame .getAlready{width: 141px;height: 40px;line-height: 40px;float: left;display: inline-block;*display: inline;*zoom: 1;border:1px solid #dcdcdc;text-align: center;font-family: "Microsoft Yahei";font-size: 16px;color: #fff;background-color: #ccc;}
.getFrame .getAlready b{color:#cc0000; margin-right:5px; font-weight:normal}
.getFrame .getAlready:hover{color: #fff; text-decoration:none}
.Frame .filter .phoneIcon{width: 15px;height: 24px;background-position: -265px 0;margin: 10px 13px auto 19px;}
/*手机登录end*/
/*绑定账号begin*/
.bindTab a{float: right;display: inline-block;*display: inline;*zoom: 1;margin-right: 30px;margin-bottom: 7px;color: #999;}
.bindTab a:hover{color: #0066cc;}
.bindTit{margin: 15px 20px 26px 20px;border-bottom: 1px dotted #ccc;padding-bottom: 15px;}
.bindTit .thirdPhoto{width: 92px;height: 92px;border: 1px solid #ccc;border-radius: 5px;float: left;display: inline-block;*display: inline;*zoom: 1;margin-left: 223px;margin-right: 23px;}
.thirdPhoto .photoInn{width: 90px;height: 90px;border: 1px solid #eee;border-radius: 5px;background-color: #ccc;overflow: hidden;}
.photoInn p{color: #fff;text-align: center;line-height: 90px;}
.photoInn img{width: 90px;height: 90px;}
.bindTit .bindTitCon{float: left;display: inline-block;*display: inline;*zoom: 1;margin-top: 42px;}
.bindTitCon p{color: #999;margin-bottom: 11px;}
.bindTitCon p.bindAfter{ color:#e10303;}
.bindFrameTit{margin-left: 232px;float: left;display: inline-block;*display: inline;*zoom: 1;width: 68px;font-size: 16px;height: 42px;line-height: 42px;text-align: right; padding-right:33px;}
.bindFrame .Frame{float: left;display: inline-block;*display: inline;*zoom: 1;}
.bindCon .auto a{color: #0066cc;}
.bindCon .auto a:hover{color: #0066cc;}
.bindCon .moreChoice{margin: 5px 0 15px 333px;}
.bindCon .addbind_03{margin: 17px 0 15px 333px;}
.bindCon .bindFrame{*height: 57px;}
.bindCon .loginBtn{margin: 5px 0 15px 0;padding-left: 333px;}
.bindCon .loginBtn *{float: left;display: inline-block;*display: inline;*zoom: 1;}
.bindCon .loginBtn a{color: #0066cc;margin-left: 15px;height: 40px;line-height: 40px;width: 140px;}
.bindCon .moreChoice .auto{float: none;}
.bindCon .moreChoice p{color: #cc0000;margin-top: 8px;}
.Frame .filter .yzIcon{width: 18px;height: 24px;background-position: -426px 0;margin:10px 11px auto 13px;}
.bindCon .bindTip{color: #ccc;margin-left: 323px;}
.bindInfoTip{padding:0 0 10px 232px; height:30px; line-height:30px;font-size:14px; color:#333; font-weight:700;}
.moreBouns{text-align:center;  height:30px; line-height:30px; font-size:14px; color:#333; font-weight:700; font-family:"微软雅黑";}
/*绑定账号end*/
/*个人注册*/
.jx-main-bg.regBg{ background:url(../images/bg.jpg) repeat-x scroll left top;padding-top: 70px;}
.jx-regBox{ height:450px; width:994px; position:relative;}
.jx-regTitBox{ width:280px; height:34px; position:absolute; right:15px; top:-37px;}
.jx-regTitBox .jx-regTit{float:right; cursor:pointer; display:inline-block; padding:0 15px; height:34px; line-height:34px; color:#fff; font-family:"微软雅黑"; font-size:14px; /*border:2px solid #ff9900;*/ border-bottom:0px; border-top-left-radius:5px; border-top-right-radius:5px; background:#ff9900; margin-left:6px; vertical-align:top;border-bottom: none;}
.jx-regTitBox .jx-regTit:hover{ color:#fff; text-decoration:none;}
.jx-regTitBox .jx-regTit.on{height:35px; border:2px solid #eaeaea; background:#fff; color:#ff9900; margin-bottom:-3px; position:relative;border-bottom: none;  }
.jx-regMenu{ width:130px; height:500px; padding-left:80px; background:#fff; position:absolute; top:0; left:0; z-index:11;}
.regMenuList{ width:130px; height:250px; background:#f8f8f8; text-align:center; position:relative; cursor:pointer;}
.regMenuList.on{ background:#f3f0ef;}
.regMenuList .rm-arrow{ display:inline-block; width:12px; height:14px; background-position:0 0; position:absolute; right:0; top:105px; }
.regMenuList .rm-mail,.regMenuList .rm-phone{ display:inline-block; width:50px; height:50px; margin-top:70px;}
.regMenuList .rm-mail{ background-position:-222px -35px;}
.regMenuList .rm-phone{ background-position:-416px -35px;}
.regMenuList.on .rm-mail{ background-position:-355px -35px;}
.regMenuList.on .rm-phone{ background-position:-291px -34px;}
.regMenuList p{ padding-top:10px; font-size:18px; font-family:"微软雅黑"; color:#ccc;}
.regMenuList.on p{ color:#cc0000;}

.regConWrap{ height:500px; width:994px; overflow:hidden; position:relative; }
.regConWrap ul{ height:450px; width:2000px;}
.regConWrap ul li.regCon{ width:784px; padding:26px 0 0 125px; float:left;}
.regConWrap ul li.add{ width:784px; padding:55px 0 0 125px; float:left;}
.regAccInfor{ margin-top:15px;}
.regAccInforBom{margin:0 0 20px;}
.addbind_02{ margin-top:0px;}
.regAccInfor .regInput{ width:255px; padding-left:45px; background:none; position:relative; z-index:3; font-weight:700;}
.regCon #password, .regCon #repassword{padding-right:45px;width:210px;}
.regAccInfor .userAccountNameByEmail{ width:215px; padding-right:40px;}
.regLabel{ width:230px; height:42px; line-height:42px; text-align:right; font-size:16px; padding-right:30px; float:left;}
.regInputBox{ height:42px; width:302px; float:left; position:relative;}
.addbind_04{width:306px;}
.regAccInfor .addbind_05{width:258px;}
.regInputBox .regIconBox{ height:35px; width:45px; background:#fff; position:absolute; left:1px; top:2px; _top:3px; z-index:4;padding-top: 2px;}
.regInputBox .regIcon{ display:inline-block; height:26px; width:26px; position:absolute; left:12px; top:9px;}
.regInputBox .regIcon.accName{ background-position:-48px 2px;}
.regInputBox .regIcon.accPass{ background-position:-77px 2px;}
.regInputBox .regIcon.accCap{ background-position:-422px 2px;}
.regInputBox .regIcon.accCheck{ background-position:-259px 1px;}
.regInputBox .regValue{ display:inline-block; height:26px; line-height:26px; font-size:16px; color:#ccc; position:absolute; top:9px; left:45px; z-index:2; display:none;}
.regInputBox .regPointIcon{ display:inline-block; width:15px; height:15px; position:absolute; top:14px; *+top:15px; _top:17px; right:10px; z-index:4;}
.regInputBox .regPointIcon.regFalse{ background-position:-162px 0;}
.regInputBox .regPointIcon.regTrue{background-position:-139px 0;}
.regInputBox .regPoint{ display:inline-block; height:20px; line-height:20px; color:#fff; padding:0 8px; position:absolute; top:37px; *+top:38px; _top:41px; right:0px; z-index:5;}
.regInputBox .regPoint.poiFalse{ background:#ed787f;}
.regInputBox .regPoint.poiTrue{ background:#ccc;}
.regInputBox .regCap{ display:block; width:80px; height:40px; position:absolute;top:0;right:3px;z-index:1; *+top:2px; _top:2px; }
.regInputBox .regCapIcon{ display:block; width:80px; height:40px; background-position:188px 100px; position:absolute; top:0; *+top:2px; _top:2px; right:3px; cursor:pointer; z-index:3;}
.regAccBut{ margin:8px 0 0 260px;}
.regAgreeBox{ line-height:22px; width:302px; position:relative; }
.regAgreeBox .regAgrInput{ height:auto; border:none;}
.regAgreeBox .regAgree{ display:inline-block; color:#999; margin-left:10px; margin-top:12px; margin-bottom:9px;}
.regAgreeBox .regAgree a{ color:#0066cc;}
.regAgreeBox .regAgree a:hover{ color:#0066cc;}
.regAccBut .regAgreePoint{ color:#cc0000; padding-left:24px; *+padding-left:30px; _padding-left:31px;}
.regInputBox .regSub{ width:302px; height:42px; font-size:18px; font-family:"微软雅黑"; color:#fff; border-radius:2px; border:none; background:#e10303; cursor:pointer;}

.regAccInfor .regCheck{ width:148px; height:42px; position:absolute; top:0; left:0; z-index:3;}
.regAccInfor .regInputChe{ width:101px; padding-left:45px; background:none; position:relative; z-index:3; font-weight:700;}
.checkButBox{ width:148px; height:42px; position:absolute; top:0; *+top:1px; _top:2px; right:0; z-index:3;}
.checkButBox.loginRegbd{width:116px;}
.checkButBox .regCheckBut{ display:inline-block; width:146px; height:40px; line-height:40px; font-size:12px; text-align:center; font-family:"微软雅黑"; font-weight:normal; border:1px solid #ccc;background-color:#eaeaea; cursor:pointer;border-radius:3px;}
.checkButBox .regCheckBut.logregCheckBtn{width:114px;}
.checkButBox .regCheckBut em{font-style:normal; padding:0 5px; display:inline-block; color:#cc0000;}
.checkButBox .regCheckBut del{ text-decoration: none; font-style:normal; color:#cc0000; padding-right:3px;}
/*个人注册end*/


/****************企业用户注册页面开始——李楠*******************/
.firmRegMain .accNotic i,.firmRegMain .mainBox .firmRegIcon,.firmRegMain .mainBox .errorIcon,.firmRegMain .mainBox .firmCheckMore{background: url(..../images/regLogin-8.png) no-repeat;}
.firmRegMain{ width:994px; margin:0 auto; border:3px solid #EAEAEA;-moz-box-shadow:2px 5px 10px -4px #EAEAEA;-webkit-box-shadow:2px 5px 10px -4px #EAEAEA; box-shadow:2px 5px 10px -4px #EAEAEA; color:#000; }
.firmRegMain .mainBox{ padding:70px 50px;background: #fff}
.firmRegMain .mainBox .accountInfo{ border-bottom:1px dashed #EAEAEA;margin-bottom: 35px; }
.firmRegMain .mainBox .accountInfo .impotFont{ font-family:"微软雅黑"; font-size:18px; color:#333333; margin-right:35px; font-weight:600;}
.firmRegMain .mainBox .accountInfo .tipFont{ color:#FF9800; font-size:12px; height:60px; line-height:60px;}
.firmRegMain .mainBox .ln_addressTr { height:42px; margin-bottom:15px;}
.firmRegMain .mainBox .ln_addressTr .ln_addressTrTit {font-size:16px;width: 84px;text-align: right;height: 40px;line-height: 40px;display: inline-block;margin-right:17px;}
.firmRegMain .mainBox .ln_addressTr .ln_addressTrTit i {padding-right: 5px;color: #cc0000;}
.firmRegMain .mainBox .qjwSubmit4 { position:relative; z-index:2;background: none;border:none;float: left;width: 297px;font-family:"宋体"; font-weight:700}
.firmRegMain .mainBox .acc {height: 37px;float: left;}

.firmRegMain .mainBox .ln_addressTr span {display: inline-block; color: #666; float: left;}
.firmRegMain .mainBox .accNotic {height: 37px; color: #cc0000; position: relative; top: 0;left: 0;}
.firmRegMain .mainBox .commonTip{ color: #FF9800; display: inline-block; height: 40px; line-height: 55px; font-size: 24px; vertical-align: top; margin-left: 15px; float:left;}
.firmRegMain .mainBox .accNotic span { font-size: 12px; color: #cc0000; float: left; line-height: 37px; display: inline-block; padding-left: 5px; font-family: "宋体"; }
.firmRegMain .mainBox .accNotic i {background-position: -162px 0px; float: left; display: inline-block; width: 14px; height: 15px; margin-top: 11px;}
.firmRegMain .mainBox .firmBox{border: 1px solid #e4e4e4;display: inline-block;  width:380px; position:relative;background: #fff; height:40px; float:left;}
.firmRegMain .mainBox .borderReds{border: 1px solid #ff6666;}
.firmRegMain .mainBox .firmBox select{ margin-top: 7px; margin-right:15px;width: 114px;border: 1px solid #e4e4e4; padding:4px 5px;}
.firmRegMain .mainBox .firmRegIcon{ width:20px; height:20px; display:inline; margin:10px 10px 0 20px; float:left; overflow: hidden;}
.firmRegMain .mainBox .firmAccount{ background-position:-51px 0px; }
.firmRegMain .mainBox .firmPassword{ background-position:-81px 0px; }
.firmRegMain .mainBox .firmEmail{ background-position:-230px 4px; }
.firmRegMain .mainBox .firmIphone{ background-position: -263px 1px;height: 27px;margin-bottom: 4px;margin-top: 8px;}
.firmRegMain .mainBox .firmTel{background-position: -298px 1px;height: 23px;margin-bottom: 7px;margin-top: 8px; }
.firmRegMain .mainBox .firmCompany{ background-position:-326px 0px; margin-right:4px; width:26px;}
.firmRegMain .mainBox .firmAddress{ background-position:-363px 0px;height: 25px;}
.firmRegMain .mainBox .firmCheckIt{ background-position:-425px 0px; height:25px;}
.firmRegMain .mainBox .firmTipFont{ z-index:1; position:absolute; top:0px; left:50px; height:40px; line-height:40px; font-size:14px; width:330px; color:#CCCCCC}
.firmRegMain .mainBox .errorIcon{ float:left; width:18px;  height:40px; margin-right:15px; _margin-right:7px; background-position: 0px 8px; display: none;}
.firmRegMain .mainBox .pass{background-position: -137px 13px;}
.firmRegMain .mainBox .st{background-position:-160px 13px;}
.firmRegMain .mainBox .ifrmCheckCode{border: none; float: left; font-size: 14px; font-weight: 700; color: #999; height: 40px; line-height: 40px; width: 200px;}
.firmRegMain .mainBox .firmBox .errorFontTip{ display: none; z-index:4; position:absolute; bottom:-16px; right:-1px; height:20px;line-height:20px; color:#fff; padding:0px 12px}
.firmRegMain .mainBox .firmBox .errorBgGay{ background:#ccc; }
.firmRegMain .mainBox .firmBox .errorBgPea{ background:#ED787F; }
.firmRegMain .mainBox .firmBox .specPos{ bottom:-26px;}
.firmRegMain .mainBox .firmCheckImg {float: left; display: inline; padding-top: 4px; }
.firmRegMain .mainBox .firmCheckMore{ width: 29px; height: 29px; background-position: -187px 0px; float: left; display: inline;margin-top: 8px; cursor: pointer; margin-left: 16px;}
.firmRegMain .mainBox .firmAgreement { padding-left:101px;}
.firmRegMain .mainBox .firmAgreement a{ color:#0066CC}
.firmRegMain .mainBox .firmAgreement input{ border:none;}
.firmRegMain .mainBox .firmAgreement span{ margin-left:10px; color:#999999;}
.firmRegMain .mainBox .firmSubmit{ padding-left:101px;}
.firmRegMain .mainBox .firmSubmit .nowSubmit{ width:305px;background:#e10303; border: medium none; border-radius: 2px; color: #fff; cursor: pointer; font-family: "微软雅黑"; font-size: 18px; height: 42px;}
.firmRegMain .mainBox .firmSubmit .tipLogin{ margin-left: 10px;color: #999999;}
.firmRegMain .mainBox .firmSubmit .tipLogin a{color:#0066CC}
.firmPersonalBox{ width: 1000px; height: 34px; margin: 0 auto; position: relative;}
.firmPersonalBox .jx-regTitBox{ top:0;}
.firmPersonalBox .firmPersonalReg{background: none repeat scroll 0 0 #ff9900;  border-top-left-radius: 5px;  border-top-right-radius: 5px; color: #fff; cursor: pointer; display: block; font-family: "微软雅黑"; font-size: 14px; height: 34px; line-height: 34px; padding: 0 17px; position: absolute; right: 15px; top: -34px;}
.firmPersonalBox .firmPersonalReg:hover{ color:#fff; text-decoration:none;}

/*账号申诉begin*/
.appeal .title{margin-bottom: 20px;}
.appeal .appealTit{font-size: 14px;width: 100px;text-align: right;float: left;display: inline-block;*display: inline;*zoom: 1;height: 40px;line-height: 40px;margin-right: 20px;}
.appeal .appealBox{float: left;display: inline-block;*display: inline;*zoom: 1;font-size: 14px;}
.appeal .appealTit strong{color: #cc0000;}
.appealType .appealBox{margin-right: 20px;height: 40px;line-height: 40px;}
.appealType label{_margin-top: 13px;_float: left;_display: inline-block;}
.appealType input{border: none;width: 14px;height: 14px;}
.appealLine{margin-bottom: 20px;}
.appealUser .appealBox{position: relative;top: 0;left: 0;}
.defaultText{position: absolute;top: 0;left: 0;line-height: 40px;padding-left: 10px;color: #999;}
.appMistake{height: 40px;color: #cc0000;float: left;display:none;margin-left: 15px;line-height: 40px;}
.appMistake i{background: url(..../images/regLogin-8.png) no-repeat -162px 0;float: left;display: inline-block;width: 14px;height: 15px;margin-top: 13px;margin-right: 5px;}
.appealBox .inputFrame{position: relative;top: 0;left: 0;z-index: 10;background: transparent; font-weight:700; padding:0 8px;}
.appealBox textarea.inputFrame{width: 380px;height: 80px;resize: none;border: 1px solid #dcdcdc;padding:8px; color:#999; font-weight:700;}
.appealBox .inputFrame.emptyCon{border: 1px solid #cc0000;}
.appealLink,.appealLink:hover{color: #0066cc;}
.appealUser .appealButBox{ padding-left:120px;}
.appealUser .appealButBox .appealSub{  background:#c40001; border: medium none; color: #fff; cursor: pointer; display: inline-block; float: left; font-size: 14px; padding: 0 12px; text-align: center; line-height:30px; height:32px;}
.appealDtail {line-height:20px;}

/*账号申诉end*/
.hmt-box{ margin-bottom:15px; padding:5px 10px; border:1px solid #dcdcdc; background:#fcfbe6;}
.hmt-box p{ line-height:16px; color:#666;}
.hmt-box p span{ color:#d3662b;}

/****************企业用户注册页面结束*************************/
/*完善资料*/
.jx-reg span{padding-right:5px;}
.bindFrame .comInfoTitle{ font-size:18px; font-family: "微软雅黑"; font-weight:700; padding:0 0 15px 400px; }
.comInfoItem{ width:357px;}
.comInfoItem  .filter{ width:357px; z-index:3;}
.comInfoItem .text{ padding: 0 45px 0 10px; width: 300px;}
.comInfoItem .sel{ width: 306px; height:42px; line-height:42px; padding:0 10px; background: none; font-weight: 700; left: 0; position: absolute; top: 0; z-index: 2;border: 1px solid #dcdcdc; font-size:14px;color: #999;}
.loginBtn .comInfoSub{ width:160px; margin:20px 0 0 0; width:305px;}
.bindCon .loginBtn .comInfoCancel{ width:140px; margin-left:25px; background:#ccc; height:40px; line-height:40px; font-size:16px; text-align:center;  text-decoration:none; font-family:"Microsoft Yahei"; color:#fff;}
.comInfo .bindTit{height:40px; line-height:40px;font-family: "微软雅黑"; margin-bottom:50px;}
.comInfo .bindTit span{ float:left; font-size:26px; padding-left:35px; color:#333; font-weight:bold;}
.comInfo .bindTit b{ float:left; color:#cc0000; font-weight:normal; margin:10px 0 0 20px;}
.comInfo .bindTit a{ float:right; margin:10px 20px 0 0; color:#999;}
.comInfoItem .filter .judge{left:325px;}
.comInfo .comInfoSub.off{background:#dedede; border:none; cursor:default;}
.comInfo .comInfoSub{width:358px;}
/*完善资料end*/
/*绑定手机号弹窗*/
.modelBg{ background:#000; opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=50); width:100%; height:100%; position:fixed; left:0; top:0; z-index:100; _height:0; _width:0;}
.bindPop{ width:480px; height:350px; font-family: "microsoft yahei"; background:#fff; border:4px solid #666666; position:absolute; left:50%; top:50%; margin:-184px 0 0 -245px; z-index:101; box-shadow:0 0 5px #555;}
.bindTitle{ height:37px; line-height:37px; padding:0 12px; background:#f5f5f5;}
.bindTitle h3{ float:left; height:37px; font-size:0;}
.bindTitle h3 i{ background-position:-402px -106px; width:16px; height:16px; display:inline-block; vertical-align:middle;}
.bindTitle h3 span{ display:inline-block; vertical-align:middle; font-size:14px; color:#333; margin-left:8px;}
.bindTitle .close{ float:right; background-position:-375px -103px; width:21px; height:21px; display:inline-block; margin-top:8px; cursor:pointer;}
.bindInfo{ padding:25px 45px 0; height:197px;}
.bindInfo p{ text-align:center; color:#333; line-height:24px;}
.bindBtn{ height:42px; margin-top:30px; font-size:0; text-align:center;}
.bindBtn a{ display:inline-block; vertical-align:middle; height:40px; width:108px; font-size:14px; text-align:center; line-height:40px; margin:0 16px;}
.bindBtn a:hover{ text-decoration:none;}
.bindBtn .bindNow{ background:#ffefef; color:#cc0000; border:1px solid #cc0000;}
.bindBtn .bindNext{ background:#f5f5f5; color:#666666; border:1px solid #cccccc;}
.bindBtn .bindSub{ background:#f5f5f5; color:#666666; border:1px solid #cccccc; width:96px;}
.bindInfo .pro{ width:390px; line-height:20px; margin:12px auto 0; padding-top:16px; border-top:1px dashed #ccc;}
.bindPop1{ width:420px; height:240px; margin:-154px 0 0 -214px;}
.bindPop1 .bindInfo{ padding:18px 35px 0; height:auto;}
/*.bindInfo .pro1{ line-height:30px;}*/
.bindInfo .pro span,.bindInfo .pro1 span{ color:#c00;}
.bindPop1 .bindBtn{ margin-top:18px;}
/*绑定手机号弹窗end*/

/*新加样式*/
.cooperate{width:320px;}
.regInputBox .regInputLogin{width:95px;padding-left:54px;}
.regInputBox .userIconBox{display: inline-block;width: 43px;height: 40px;background:#f3f3f3;position:absolute; top:1px; left:1px; z-index:3;border-right:1px solid #dcdcdc;}
.ewmCon{width:270px;margin-left:40px;}
.ewmCon h2{height:70px;line-height:70px;font-size:16px;color:#666;}
.ewmCon .scanSuccess{text-align:center;}
.ewmCon .scanSuccess .sCanSIcon{padding:30px 0 20px;}
.ewmCon .scanSuccess .sCanSIcon i{display:inline-block;width:78px;height:76px;background-position:-170px -150px;}
.ewmCon .scanSuccess h4{line-height:40px;font-size:18px;color:#333;font-weight:normal;}
.ewmCon .scanSuccess p{font-size:12px;color:#999;line-height:45px;}
.ewmCon .scanSuccess .sCanLink{text-align:left;padding-top:70px;}
.ewmCon .scanSuccess .sCanLink a{color:#ff6633;}
.ewmCon .scanSuccess .sCanLink span{float:right;}
.ewmCon .scanSuccess .sCanLink span a{float:left;padding-left:10px;color:#333;}

.ewmCon .scanError{text-align:center;position:relative;}
.ewmCon .scanError .tipImg{width:167px;height:200px;position:absolute;top:-25px;right:-30px;display:none;}
.ewmCon .scanError .scanErrorEwm{width:150px;height:150px;margin:20px auto 40px;position:relative;overflow:hidden;}
.ewmCon .scanError .scanErrorEwm img{width:100%;height:100%;}
.ewmCon .scanError .scanErrorEwm .bj{width:150px;height:150px;background-color:#000;position:absolute;top:0;left:0;z-index:1;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;}
.ewmCon .scanError .scanErrorEwm .info{width:150px;height:150px;position:absolute;top:0;left:0;z-index:2;text-align:center;}
.ewmCon .scanError .scanErrorEwm .info p{color:#fff;height:25px;line-height:25px;padding:40px 0 15px;}
.ewmCon .scanError .scanErrorEwm .info a{display:inline-block;width:86px;height:23px;line-height:23px;text-align:center;background-color:#e4393c;color:#fff;}
.ewmCon .scanError .scanErrorTip i{display:block;float:left;background-position:-270px -150px;width:33px;height:33px;margin:1px 10px 0 65px;_display:inline;}
.ewmCon .scanError .scanErrorTip p{float:left;color:#999;line-height:16px;text-align:left;}
.ewmCon .scanError .scanErrorTip p em{color:#e4393c;font-style:normal;}

.ewmCon .scanError .sCanErroLink{padding-top:50px;text-align:right;}
.ewmCon .scanError .sCanErroLink a{padding-left:10px;color:#333;}


.successBox{width:666px;height:330px;margin:70px auto;background-color:#fff;box-shadow:0 4px 10px #ddd;border-radius:50px;-moz-border-radius:50px;-webkit-border-radius:50px;text-align:center;}
.successBox h2{height:43px;font-size:16px;color:#73b84a;padding:40px 0 30px;}
.successBox h2 i{display:inline-block;margin:0 15px 0 0;width:35px;height:33px;background-position:-320px -150px;position:relative;top:9px;}
.successBox p{font-size:12px;color:#333;margin-bottom:20px;}
.successBox li{display:inline-block;width:95px;margin:0 32px;text-align:center;}
.successBox li i{width:70px;height:90px;display:inline-block;}
.successBox li .gwIcon{background-position:-270px -190px;}
.successBox li .wszlIcon{background-position:-360px -190px;}
.successBox li a{display:block;width:96px;height:32px;line-height:32px;font-size:12px;color:#fff;text-align:center;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.successBox li a.gwBtn{background-color:#fb5958}
.successBox li a.wszlBtn{background-color:#63b1fa}
.jx-wrap .cartIcon{ background: url(../images/login_icon.png) no-repeat 0 0;}
.reg-confirm-bg{ background:rgba(0,0,0,0.1); padding:4px; border-radius:5px; width:400px; height:218px; position:fixed; _position:absolute; top:50%; left:50%; z-index:1001; margin:-113px 0 0 -204px; display:none;}
.reg-confirm{ background:#fff; width:400px; height:218px; border-radius:5px; overflow:hidden;}
.reg-confirm-tit{ position:relative; height:38px; background:#f2f2f2;}
.reg-confirm-tit p{ line-height:38px; color:#666666; font-size:14px; padding-left:14px;}
.jx-wrap .reg-confirm-tit .reg-close{ background-position:0px 0px; width:12px; height:12px; display:block; position: absolute; right:14px; top:13px; z-index:1; cursor:pointer;}
.reg-confirm-body{ height:146px; position:relative; z-index:1; padding-top:34px;}
.reg-confirm-prompt{ text-align:center; height:20px; line-height:20px; font-size:0;}
.reg-confirm-prompt i,.reg-confirm-prompt span{ display:inline-block; vertical-align:middle;}
.jx-wrap .reg-confirm-prompt i{ background-position:-15px 0px; width:20px; height:20px; margin-right:10px;}
.reg-confirm-prompt span{ font-size:17px; color:#000000;}
.reg-confirm-text{ text-align:center; line-height:40px; color:#999;}
.reg-confirm-btn{ position:absolute; top:110px; left:0; font-size:0; width:100%; text-align:center; height:30px; line-height:30px;}
.reg-confirm-btn a{ display:inline-block; margin:0 8px; text-align:center; font-size:12px; text-decoration:none;}
.reg-confirm-btn a.sure{ width:60px; height:30px; line-height:30px; background:#e64346; color:#fff;}
.reg-confirm-btn a.cancel{ width:58px; height:28px; line-height:28px; background:#f7f7f7; color:#fff; border:1px solid #cccccc; color:#666;}
